@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

:root {
    --primary-grey: rgb(54, 57, 63);
    --primary-white: #eee;
}

* {
    font-family: Poppins;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-grey);
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 6px;
    box-shadow: 2px 4px 3px black;
    position: fixed;
}

header a {
    float: left;
    text-align: center;
    padding: 10px;
    color: var(--primary-white);
    text-decoration: none;
    font-size: 14px;
    transition: 0.36s;
    border-radius: 8px;
}

header #nav-right {
    float: right;
}

@media (max-width: 500px) {
    header a {
        float: none;
        text-align: left;
        display: block;
    }

    header #nav-right {
        float: none;
    }
}

main {
    margin-top: 5.8rem;
}

@media screen and (max-width: 500px) {
    header {
        position: static;
    }
    main {
        margin-top: 3.275rem;
    }
}

#tasks {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#heading {
    padding: 5px;
    border-bottom: 2px solid black;
}

#taks-main {
    padding: 15px;
}

#create-task-div {
    display: flex;
    padding: 15px;
}

input {
    padding: 4px 4px 4px 9px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #tasks {
        margin: 0;
        width: 100%;
    }
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

#no-tasks {
    padding: 20px;
}

.task {
    background-color: lightblue;
    border: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
}

.task-text {
    margin: auto;
}

.task-checkmark {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.task-checkmark:hover {
    transform: scale(1.5, 1.5);
}

.task:last-child {
    border-bottom: 3px solid black;
}

#clear-tasks-button {
    font-size: 20px;
}