@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

:root {
    --primary-grey: rgb(54, 57, 63);
    --primary-white: #eee;
    --primary-blue: rgb(7, 115, 185);
    --secondary-grey: rgb(200, 200, 200);
    --primary-red-pink: rgb(200, 50, 120);
    --secondary-red-pink: rgb(170, 30, 110);
}

* {
    font-family: Poppins;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-blue);
}

header {
    background-color: var(--primary-grey);
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 6px;
    box-shadow: 2px 4px 3px black;
    position: fixed;
}

header a {
    float: left;
    text-align: center;
    padding: 10px;
    color: var(--primary-white);
    text-decoration: none;
    font-size: 14px;
    transition: 0.36s;
    border-radius: 8px;
}

header #nav-right {
    float: right;
}

@media (max-width: 500px) {
    header a {
        float: none;
        text-align: left;
        display: block;
    }

    header #nav-right {
        float: none;
    }
}

main {
    margin-top: 5.8rem;
}

@media screen and (max-width: 500px) {
    header {
        position: static;
    }
    main {
        margin-top: 3.275rem;
    }
}

.to-do-list {
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: white;
}

.to-do-form {
    display: flex;
    justify-content: center;
}

#item {
    border: 1px solid var(--secondary-grey);
    outline: none;
    padding: 7px 10px;
}

#submit-button {
    background: var(--primary-red-pink);
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

#submit-button:hover {
    background: var(--secondary-red-pink);
}

@media screen and (max-width: 1200px) {
    .to-do-list {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .to-do-list {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .to-do-list {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .to-do-list {
        width: 95%;
    }
}