@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    color:white;
}

#nameh2{
    font-family: Inter;
    font-size:20px;
    margin-left:5px;
    outline:none;
    margin-bottom: 5px;
}
body{
    overflow:hidden;
    background-color:rgb(37, 36, 36);
}

.navMenu{
    font-family: Inter;
    display:flex;
   
}
.navLink{
    padding-top:5px;
    padding-bottom: 5px;
    border:none;
    background-color: transparent;
}


.navLink:hover{
    border-radius: 3px;
    
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.utilPanel{
    display:flex;
}

.utilobj{
    margin-left:5px;
}
#boldBtn{
    font-family: Inter;
    
    border:none;
    background-color: transparent;

}
#boldBtn:hover{
    border-radius: 3px;
    
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}


.txtDiv{
    font-family:'Open Sans';
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(250, 174, 174, 0.19);
    background-color:rgb(197, 197, 197) !important;
    margin-left:570px !important;
    margin-top:10px;
    margin-top:10px;
    color:rgb(42, 41, 41);
    outline:none;
    width:800px;
    height:860px;
}




.topContent{
    
    
    width:100%;
}