@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



.window{
    width:340px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btnsAll{
    display:grid;
    
    grid-template-columns: 80px 80px 80px 80px;
}
.buttons{
    
    border: 2px solid rgba(15, 14, 14, 0.8);
    
}



#btn0{
    width:157px;
    
    height:60px;
}

#btndot{
    
    width:77px;
    margin-top:0%;
    height:60px;
}
.lastrow{
    display:flex;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#main_input{
   
    border-radius: 5px;
    padding:30px;
    text-align: right;
    border:none;
    width:272px;
    background-color: rgb(20, 20, 20);
    color:white;
    font-family: poppins;
    font-size: 20px;
}

.calc_btn_row1{
    text-align: center;
    background-color: rgb(128, 124, 124);
    border:none;
    padding:20px;
    color:rgb(255, 255, 255);
    font-family: poppins;
    font-size:20px;
    width:90px;
    font-weight: 400px;
}
.calc_btn_row1:hover{
    background-color: rgb(87, 85, 85);
}

#label{
    
    font-family: poppins;
    font-size:20px;
}

.operbtns{
    text-align: center;
    background-color: rgb(255, 119, 7);
    border:none;
    padding:20px;
    color:rgb(255, 255, 255);
    font-family: poppins;
    font-size:20px;
    width:90px;
    font-weight: 400px;
}
.operbtns:hover{
    background-color: rgb(245, 86, 37);
}

.toprowbtns{
    text-align: center;
    background-color: rgb(87, 85, 85);
    border:none;
    padding:20px;
    color:rgb(255, 255, 255);
    font-family: poppins;
    font-size:20px;
    width:90px;
    font-weight: 400px;
}
.toprowbtns:hover{
    background-color: rgb(7, 7, 6);
}

